
<div class="css-typing">
    <p>
        Chào anh Phương, hôm nay là sinh nhật của anh,
        bọn em chúc anh sức khỏe, hạnh phúc bên gia đình và luôn thăng tiến trong sự nghiệp.
    </p>
    <p>
        Bọn em cũng muốn làm một cái web gì đấy ngầu ngầu xíu nhưng mà năng lực thực sự có 
        hạn nên hi vọng anh vẫn sẽ đón nhận trong vui vẻ.
    </p>
    <p>Sắp tới thực tập, tụi em còn non nớt, mong anh giúp đỡ, chỉ bảo.</p>
    <p>
        Mặc dù kiến thức còn hạn chế nhưng tụi em sẽ cố gắng hết sức, luôn lắng nghe ý kiến, 
        nhưng anh đừng la tụi em quá, tụi em cũng mong manh lắm. 
    </p>
    <p>Dù sao cũng cảm ơn anh vì đã nhận tụi em ❤️❤️❤️</p>
  </div>
