
// .form-avatar {
//     float: left;
//     height: 120px;
//     width: 120px;
//     margin-right: 20px;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-color: #fff;
//    


>img {
    height: 120px;
    overflow: hidden;
    padding-right: 20px;
  }

.cards {
  border: 1px solid #999999;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 0px 20px -6px rgba(8, 31, 71, 0.15);
}