<div class="msg">

  <div class="text" *ngIf="kt===true">
    <h1><span>ANH CÓ TRẢ LƯƠNG CHO TỤI EM KHÔNG ?</span></h1>
    <h2><span>♥♥♥ Hãy có trách nhiệm với câu trả lời của mình ♥♥♥</span></h2>
  </div>
  <div id="yes" *ngIf="kt===true" (click)="onYes()">
    <a href="#" data-reveal-id="myModal">CÓ! TẤT NHIÊN RỒI</a>
  </div>
  <div *ngIf="kt===true" id="no" style="position:absolute; left: 700px; top: 300px;">
    <input type="button" value="KHÔNG! QUÊN NÓ ĐI" style="cursor:pointer;" (mouseover)="move()" >
  </div>
  <div id="info" *ngIf="kt!==true">
    <p style="color:#e1e1b8;" ><b>ê tao ko biết nói con mẹ gì hết</b></p>
    <p>Bọn mày gợi ý cho t đi nào mấy con chó cái ơi tao khổ qu
      á nè trời ơi sao tao khổ thế này cơ chứ nhỉ huhu
      <a (click)='goInfo()'>Nhận quà nào</a>.</p>
  </div>
</div>




